/********************** Protected Styles ****************************/
body{
margin:0px;
padding:0px;
font-size:16px;
background-position:fixed;
font-family:"HelveticaNeue";
line-height:130%;
direction:rtl;
}

.web_div{

}
.internal_container{

}
.internal_page_div{
width:960px;
min-height:500px;
padding:5px;
}

text
{
	font-family:"HelveticaNeueBold";
}



/*  Cat box inside the category page for both horizontal and vertical view */
.cat_box{
border-radius:5px;
border:solid 1px #ccc;
padding:5px;
width:95%;
min-height:200px;
cursor:pointer;
}
div.cat_box:hover{background-color:#efeded;}

.h_cat_box{
border-radius:5px;
border:solid 1px #ccc;
padding:5px;
width:95%;	
height:100%;
cursor:pointer;
}
div.h_cat_box:hover{background-color:#efeded;}
/*   */

h1{
font-size:1.4em;
font-weight:bold;
color:white;
text-decoration:none;
}
ul{
color:black;
font-size:14px;
}
a{
text-decoration:none;
color:#007B31;
}
a:hover{text-decoration:underline;} 


.in_date{
font-size:14px;
font-weight:normal;
color:#4d4d4d;
text-decoration:none;
}
.in_thumb{
max-width:80%;
padding:5px;
border:solid 1px #ccc;
border-radius:5px;
}
.stext{
font-size:14px;
font-weight:normal;
color:#4d4d4d;
text-decoration:none;
}
a.stext:hover{color:#037B89;text-decoration:none;}

.stitle{
font-size:15px;
font-weight:bold;
color:#1F1D1D;
font-family:"HelveticaNeueBold";
text-decoration:none;
}
a.stitle:hover{color:#C60606;}

.stitle1{
font-size:14px;
font-weight:bold;
font-family:"HelveticaNeueBold";
color:#BF0202;
text-decoration:none;
}
a.stitle1:hover{color:#C60606;}

.img1{
padding:0px;
margin:0px;
border:2px solid #CACACA;
height:140px;
}
.date{
font-size:14px;

color:#525252;
text-decoration:none;
}
.cat_img{
padding:3px;
margin:3px;
background-color:white;
border:solid 1px #ccc;
opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */
}
img.cat_img:hover{opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */}

.msg{
font-size:15px;
font-weight:bold;
color:#D68916;
text-decoration:none;
}

.error{
font-size:15px;
font-weight:bold;
color:#712727;
text-decoration:none;
}

.day{
font-size:8px;
font-weight:bold;
color:white;
text-decoration:none;
}
.b_day{
font-size:14px;
font-weight:bold;
color:white;
text-decoration:none;
}

.year{
font-size:13px;
font-weight:bold;
color:white;
text-decoration:none;
}
.b_year{
font-size:18px;
font-weight:bold;
color:white;
text-decoration:none;
}

.b-links{
font-size:17px;
font-weight:bold;
color:#A11717;
text-decoration:none;
}
a.b-links:hover{text-decoration:none;}

.b-linkscdate{
text-decoration:none;

}
.day_bg{
background-color:white;
}
.day_selected{
background-color:#cccccc;
}
.current_day{
background-color:#D3E8FB;
}

.contacts{
font-weight:normal;
font-size:16px;
color:black;
text-decoration:none;
}
.con_txt{
border-radius:7px;
height:25px;
font-size:12px;
padding-left:5px;
border:solid 1px #ccc;
width:400px;
}

.tags{
font-size:15px;
font-weight:normal;
color:#4d4d4d;
text-decoration:none;
}

.con_area{
width:400px;
height:80px;
border-radius:7px;
font-family:verdana;
font-size:12px;
padding-left:5px;
border:solid 1px #ccc;
}

.con_sec{
border-radius:7px;
height:25px;
font-family:verdana;
font-size:12px;
border:solid 1px #ccc;
width:100px;
}

.con_btn{
width:120px;
height:30px;
color:red;
font-weight:bold;
font-size:13px;
font-family:verdana;
}
/******************* End of Protected Styles #***********************/

.menu_td{
text-align:center;
padding-right:10px;
padding-left:10px;
background-color:#905f00;
height:31px;
}
.drop_menu_container{
position:relative;
}
.mid_menu{
position:absolute;display:none;top:5px;width:200px;z-index:1000;right:0px;
}
.mid_mid_menu{
position:absolute;display:none;top:-25px;width:200px;z-index:1001;right:190px;
}
.drop_table{background-color:#990400;}
.drop_td{
padding-right:10px;
padding-left:5px;
padding-top:5px;
padding-bottom:5px;
text-align:right;
}
td.drop_td:hover{background-color:#af0703;}

.drop_link{
font-size:16px;
color:white;
text-decoration:none;
font-weight:normal;
}
a.drop_link:hover{color:#bbb8b8;text-decoration:none;}

.top_menu{
font-family:'HelveticaNeue';
color:white;
font-weight:normal;
font-size:17px;
text-decoration:none;
}
a.top_menu:hover{color:#C9C9C9;text-decoration:none;}
img
{
border:0px;
}